body {
  width: 80%;
  margin-left: 10%;
  background-color: blanchedalmond;
}
img{
  height: 250px;
  width: 250px;
}

Header {
  width: 100%;
  background-color: #000000;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  color: white;
  overflow: hidden;
}

Header img {
  float: left;
  height: auto;
  width: 10vw;
  padding-left: 5%;
  overflow: hidden;
  object-fit: contain;
}

p {
  text-align: left;
  font-size: 12pt;
  margin: 2rem;
}

footer {
  float:left;
  width: 100%;
  text-align: center;
  padding-top: 40%;
}

footer img {
  height: 2%;
  width: 2%;
}


nav li {
  display: inline;
} 
.photos{
  width: 100%;

}
.fa-regular{
  height: 2%;
  width: auto;
}
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: rgb(231, 26, 26);
}

.topnav a:active {
  
  color: rgb(17, 207, 90);
}
.headertext{
  text-align: center;
}
.column{
  float: left;
  width: 30%;
 padding: 10px;
  height: 25%;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
.aboutColumn{
  float: left;
  width: 30%;
}
.map{
  float: right;
}


.gwendolyn-regular {
  font-family: "Gwendolyn", cursive;
  font-weight: 400;
  font-style: normal;
}

.gwendolyn-bold {
  font-family: "Gwendolyn", cursive;
  font-weight: 700;
  font-style: normal;
}



.roboto-condensed-body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
#logo{
  float:right;
  display: inline;
}